<footer>
    <div class="wrapper-footer">
        <section class="about-footer">
            {% comment %} <div class="wrapper-logo-footer">
                <a class="logo" href="/"><img loading="lazy" src="/assets-amber/logo-avl.svg" width="150" height="50"
                        alt="Back to homepage"></a>
                <a class="logo" href="/"><img loading="lazy" src="/assets-amber/logo-kemenkes.avif" width="170"
                        height="70" alt="Back to homepage"></a>
            </div> {% endcomment %}
            <h4>I love web</h4>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Enim ipsum non egestas; primis luctus cubilia. Donec
                ut venenatis
                finibus eu.</p>
        </section>

        <section class="navigation-footer">
            <h4>Navigation</h4>
            <ul>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/learning-journal">Learning journal</a></li>
                <li><a href="/digital-garden">Digital garden</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </section>

        <section class="contact-footer">
            <h4>Contact information</h4>
            {% comment %} <ul>
                <li><img src="/assets-amber/icon-map.svg" alt="">Indonesia & The Netherlands</li>
                <li><a href="tel:020 512 9111"><img src="/assets-amber/icon-phone.svg" alt="">AVL: 020 512 9111 </a>
                </li>
                <li><a href="tel:1500-567"><img src="/assets-amber/icon-phone.svg" alt="">Kemenkes: 1500-567</a></li>
            </ul> {% endcomment %}
        </section>
    </div>

    <div class="divider-footer"></div>

    <div class="legal-footer">
        <p>© 2024 - Kim Nikita Schijf</p>

        <ul class="legal-links">
            <li><a class="secondary-text" href="#">Disclaimer</a></li>
            <li><a class="secondary-text" href="#">Privacy Statement</a></li>
            <li><a class="secondary-text" href="#">Cookie Statement</a></li>
        </ul>
    </div>
</footer>

</body>

<script src="/main.js"></script> 

</html>