<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - I Love Web</title>
    <link rel="stylesheet" href="styles/styles.css">
    {% comment %} <link rel="stylesheet" href="styles/projects.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="styles/profile.css"> {% endcomment %}
    <link rel="stylesheet" href="styles/iloveweb.css">
    <link rel="icon" href="assets/site-icon.webp" type="image/x-icon">
</head>

<body>
