* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

:root {
    --header: #B7B0A6;
    --tekst: #FFFFFF;
    --kopjes: #B7B0A6;
    --ondertitel: #121212;
    --plaatjes: #EDECE8;
}

header {
    font-size: 1rem;
    font-weight: light;

    ul {
        display: flex;
        justify-content:space-evenly;
        list-style-type: none;
        overflow: hidden;
        background-color: var(--header);
        gap: 15px;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        background-color: var(--header);
        color: var(--tekst);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
/* 
    a:nth-of-type(2) {
        font-size: 1rem;
        border: none;
        background-color: #121212;
    } */

    li a:hover {
        opacity: 40%;
    }
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    rotate: 350deg;
    color: var(--kopjes);
    text-align: center;
}
/* 
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.titel {
    width: 100%;
    height: 60%;
    background-color: #e9e8e3;
    display: flex;
    justify-content: left;
}

.content {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 48px;
    font-family: 'Brush Script MT', cursive;
    color: #a9a39b;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    max-width: 600px;
    line-height: 1.6;
    text-align: center;
}

p:first-of-type {
    font-weight: bold;
}