html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

:root {
    --header: #B7B0A6;
    --tekst: #FFFFFF;
    --kopjes: #B7B0A6;
    --ondertitel: #121212;
    --plaatjes: #EDECE8;
}

header {
    font-size: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--header);
}

li {
    float: left;
}

li a {
    display: block;
    background-color: var(--header);
    color: var(--tekst);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--plaatjes);
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    rotate: 345deg;
    color: var(--kopjes);
    position: absolute;
    text-align: center;
}