{% render 'partials/head.liquid' %}

{% comment %} <section class="articles">
    <h2>Mijn files</h2>
    {% for file in files %}
    <a href="/digital-garden/{{ file|slice:0,-3}}">{{ file|slice:0,-3 }}</a>
    {% endfor %}
</section>

<style>
    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 200px;
        width: 400px;
        align-items: center;
    }

    h1 {
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }
</style> {% endcomment %}








{% comment %} {{ files | json }} {% endcomment %}

{% render 'partials/foot.liquid' %}