{% render 'partials/head.liquid' %}

<section class="articles">
    <h2>Mijn files</h2>
    {% for file in files %}
    <a href="/digital-garden/{{ file|slice:0,-3}}">{{ file|slice:0,-3 }}</a>
    {% endfor %}
</section>

<style>
    body {
        font-family: Arial, Helvetica, sans-serifnt
    }

    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 2rem;
        height: 200px;
        width: 400px;
        align-items: center;
        color: white;

    }

    a {
        color: white;
    }

    h1 {
        color: white;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

{% comment %} {{ files | json }} {% endcomment %}

{% render 'partials/foot.liquid' %}