{% render 'partials/head.liquid' %}

<section>
    <div class="logo-scroll">
        <div class="logo-track">
            {% for i in (1..8) %}
            <span class="track-text">I love web</span>
            <span class="track-text">❤</span>
            {% endfor %}
        </div>
    </div>


    <section class="hero">
        <div class="hero-left">
            <header class="header">
                <nav>
                    <ul class="nav">
                        <li><a href="#">Learning Journal</a></li>
                        <li><a href="#">We love web</a></li>
                        <li><a href="/digital-garden">Digital Garden</a></li>
                        <li><a href="https://github.com/kimnikitaschijf">Projects</a></li>
                    </ul>
                </nav>
            </header>

            <div class="hero-text">
                <h1 id="hero-text">Welcome to my website</h1>
                <span class="fade-in">My name is Kim Nikita. I'm a 20 year old FDND Student. <br>Explore my Digital
                    Garden, check out my latest projects, dive into We Love Web lectures,
                    and join me on my Learning Journal journey.</span>
                <span class="arrow-down" aria-label="Scroll to next section">
                    ↓
                </span>
            </div>
        </div>

        <div class="hero-right">
            <div class="photo-stack">

                <div class="photo photo-1">
                    <img src="https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/IMG_7307_qjlmco.jpg"
                        srcset="
          https://res.cloudinary.com/dcfitfken/image/upload/w_400,f_auto,q_auto/IMG_7307_qjlmco.jpg 400w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_600,f_auto,q_auto/IMG_7307_qjlmco.jpg 600w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/IMG_7307_qjlmco.jpg 800w"
                        sizes="(max-width: 720px) 100vw, (max-width: 1020px) 50vw, 33vw" alt="Foto 1" loading="lazy"
                        style="width:100%; height:auto; display:block;">
                </div>

                <div class="photo photo-2">
                    <img src="https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/cover-picture-1-800_qih5f2.jpg"
                        srcset="
          https://res.cloudinary.com/dcfitfken/image/upload/w_400,f_auto,q_auto/cover-picture-1-800_qih5f2.jpg 400w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_600,f_auto,q_auto/cover-picture-1-800_qih5f2.jpg 600w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/cover-picture-1-800_qih5f2.jpg 800w"
                        sizes="(max-width: 720px) 100vw, (max-width: 1020px) 50vw, 33vw" alt="Foto 2" loading="lazy"
                        style="width:100%; height:auto; display:block;">
                </div>

                <div class="photo photo-3">
                    <img src="https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/IMG_1991_qerumt.heic"
                        srcset="
          https://res.cloudinary.com/dcfitfken/image/upload/w_400,f_auto,q_auto/IMG_1991_qerumt.heic 400w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_600,f_auto,q_auto/IMG_1991_qerumt.heic 600w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/IMG_1991_qerumt.heic 800w"
                        sizes="(max-width: 720px) 100vw, (max-width: 1020px) 50vw, 33vw" alt="Foto 3" loading="lazy"
                        style="width:100%; height:auto; display:block;">
                </div>

                <div class="photo photo-4">
                    <img src="https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/IMG_6302_jgaog2.jpg"
                        srcset="
          https://res.cloudinary.com/dcfitfken/image/upload/w_400,f_auto,q_auto/IMG_6302_jgaog2.jpg 400w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_600,f_auto,q_auto/IMG_6302_jgaog2.jpg 600w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/IMG_6302_jgaog2.jpg 800w"
                        sizes="(max-width: 720px) 100vw, (max-width: 1020px) 50vw, 33vw" alt="Foto 4" loading="lazy"
                        style="width:100%; height:auto; display:block;">
                </div>

                <div class="photo photo-5">
                    <img src="https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/EBFCDFEF-E467-4159-B2A9-F5B34DE00D70_p6kgcb.png"
                        srcset="
          https://res.cloudinary.com/dcfitfken/image/upload/w_400,f_auto,q_auto/EBFCDFEF-E467-4159-B2A9-F5B34DE00D70_p6kgcb.png 400w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_600,f_auto,q_auto/EBFCDFEF-E467-4159-B2A9-F5B34DE00D70_p6kgcb.png 600w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/EBFCDFEF-E467-4159-B2A9-F5B34DE00D70_p6kgcb.png 800w"
                        sizes="(max-width: 720px) 100vw, (max-width: 1020px) 50vw, 33vw" alt="Foto 5" loading="lazy"
                        style="width:100%; height:auto; display:block;">
                </div>

                <div class="photo photo-6">
                    <img src="https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/IMG_6157_xyzlky.heic"
                        srcset="
          https://res.cloudinary.com/dcfitfken/image/upload/w_400,f_auto,q_auto/IMG_6157_xyzlky.heic 400w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_600,f_auto,q_auto/IMG_6157_xyzlky.heic 600w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/IMG_6157_xyzlky.heic 800w"
                        sizes="(max-width: 720px) 100vw, (max-width: 1020px) 50vw, 33vw" alt="Foto 6" loading="lazy"
                        style="width:100%; height:auto; display:block;">
                </div>

                <div class="photo photo-7">
                    <img src="https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/IMG_2374_klfucy.jpg"
                        srcset="
          https://res.cloudinary.com/dcfitfken/image/upload/w_400,f_auto,q_auto/IMG_2374_klfucy.jpg 400w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_600,f_auto,q_auto/IMG_2374_klfucy.jpg 600w,
          https://res.cloudinary.com/dcfitfken/image/upload/w_800,f_auto,q_auto/IMG_2374_klfucy.jpg 800w"
                        sizes="(max-width: 720px) 100vw, (max-width: 1020px) 50vw, 33vw" alt="Foto 7" loading="lazy"
                        style="width:100%; height:auto; display:block;">
                </div>

            </div>
        </div>

        <svg class="hero-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path fill="var(--color-primary-background)" d="M0,160 C480,320 960,0 1440,160 L1440,320 L0,320 Z"></path>
        </svg>
    </section>
</section>








{% comment %} MARK: tiles {% endcomment %}








<section class="main-content" id="main-content">
    <article class="card">

        <div class="logo-scroll-card" aria-hidden="true">
            <div class="logo-track-card">
                {% for i in (1..4) %}
                <span class="track-text-card">Learning Journal</span>
                <span class="track-text-card">❤</span>
                {% endfor %}
            </div>
        </div>
        <h2 class="card-title">Learning Journal</h2>
        <p class="card-description">
            My learning journal is a space where I keep track of what I’m learning, reflect on
            my progress, and explore new ideas and experiments. Click to explore and see what I’m learning next!
        </p>
        <a class="card-button" href="https://github.com/kimnikitaschijf/i-love-web/wiki">Discover my learning journal! </a>
    </article>

    <article class="card">
        <div class="logo-scroll-card" aria-hidden="true">
            <div class="logo-track-card">
                {% for i in (1..4) %}
                <span class="track-text-card">We love web</span>
                <span class="track-text-card">❤</span>
                {% endfor %}
            </div>
        </div>

        <div class="card-right">
            <h2 class="card-title">We love web</h2>
            <span class="card-span">...</span>
        </div>
        <a class="card-button" href="#">Read more about we love web! </a>
    </article>

    <article class="card">
        <div class="logo-scroll-card" aria-hidden="true">
            <div class="logo-track-card">
                {% for i in (1..4) %}
                <span class="track-text-card">Digital Garden</span>
                <span class="track-text-card">❤</span>
                {% endfor %}
            </div>
        </div>

        <div class="card-right">
            <h2 class="card-title">Digital Graden</h2>
            <span class="card-span">This is a digital playground to practise new methods of code. Check it out!</span>
        </div>
        <a class="card-button" href="#">Discover my learning journal! </a>

    </article>

    <article class="card">
        <div class="logo-scroll-card" aria-hidden="true">
            <div class="logo-track-card">
                {% for i in (1..4) %}
                <span class="track-text-card">Projects</span>
                <span class="track-text-card">❤</span>
                {% endfor %}
            </div>
        </div>

        <div class="card-right">
            <h2 class="card-title">Projects</h2>
            <span class="card-span">... </span>
        </div>
        <a class="card-button" href="https://github.com/kimnikitaschijf">Discover my learning journal! </a>
    </article>
</section>

{% render 'partials/foot.liquid' %}