{% render 'partials/head.liquid' %}

{% comment %} intro section {% endcomment %}
<section class="intro-section">
    <div class="stripe-background">
        <picture>
            <source type="image/avif" srcset="../assets/main-picture-me.avif">
            <source type="image/webp" srcset="../assets/main-picture-me.webp">
            <img loading="eager" src="../assets/main-picture-me.png" class="home-main-image" alt="Kim Nikita Schijf"
                height="300" width="200" decoding="async">
        </picture>
    </div>
    <div class="intro-content">
        <h1 class="main-title">Welcome to my I love web</h1>
        <p class="about-us-text">
            I'm <strong>Kim Nikita Schijf</strong>, 20 years old, from <strong>Heerhugowaard</strong>. I'm a first-year
            <strong>FDND student</strong> at the Amsterdam University of Applied Sciences (HvA), and this site is where
            I share everything I'm working on.
            You’ll find my school <strong>projects</strong>, little <strong>digital</strong> experiments,
            <strong>notes</strong> about things I’ve learned, and a bit about
            <strong>me</strong> too.
            <br>
            <br>
            I’m still learning (a lot), so this site will probably keep changing as I go. Feel free to
            <strong>click</strong> around and check things out!
        </p>
        <a href="/profile" class="read-more-button">Read more about me!</a>
    </div>
</section>



{% comment %} subjects section {% endcomment %}
<section class="subject-card-section">
    <h2 class="subject-title">Read more about my projects and learnings below</h2>
    <div class="subject-cards">
        <article class="subject-card-layout">
            <h3>Projects</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </article>

        <article class="subject-card-layout">
            <h3>Digital garden</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </article>

        <article class="subject-card-layout">
            <h3>Learing journal</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </article>

        <article class="subject-card-layout">
            <h3>...</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </article>
    </div>
</section>




{% comment %} contact section {% endcomment %}
<section class="contact-card-section">
    <h2 class="contact-title">More about me</h2>
    <div class="contact-cards">
        <article class="contact-card-layout">
            <h3>Work experience</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </article>

        <article class="contact-card-layout">
            <h3>Get in contact</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </article>
    </div>
</section>

{% render 'partials/foot.liquid' %}