{% render 'partials/head.liquid' %}

<main>
    <section class="paragraph-text">
      <img src="assets/me.webp" alt="me" class="main-photo" />
      <div class="sub-paragraph-text">
        <h1>Kim Nikita Schijf</h1>
        <p class="main-sub-title">Frontend designer and developer</p>
        <p class="sub-title">Student - HvA</p>
      </div>
    </section>

    <!-- img met linkjes naar contact -->
    <section class="contact-row">
    <a href="#">
      <img src="assets/stock.webp" class="stock" alt="..." />
    </a>
    <a href="#">
      <img src="assets/stock.webp" class="stock" alt="..." />
    </a>
    <a href="#">
      <img src="assets/stock.webp" class="stock" alt="..." />
    </a>
</section>

    <section id="project-list">
        <h2 class="preview-title">About me</h2>

      <!-- Herhaalbare projectitems -->
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
      <article class="project-item">
        <img src="assets/stock.webp" class="project-thumbnail" alt="..." />
        <div class="project-details">
          <p class="project-title">Title project</p>
          <p class="project-subtitle">Creator Title</p>
        </div>
      </article>
    </section>
</main>

{% render 'partials/foot.liquid' %}