{% render 'partials/head.liquid' %}

    <main>
        <header id="projects-header">
            <a class="back-button" href="index.html"><img src="assets/Arrow.webp" alt="back-button"></a>
            <img src="assets/projects-page/projects-main-photo.webp" class="large-photo" alt="...">
        </header>

        <section>
            <h1>Projects</h1>
            <article class="profile-info">
                <a href="#"><img src="assets/me.webp" class="profile-image" alt="..."></a>
                <p class="sub-title">These are all the projects I've worked on, <br> or am currently working on! ⬇️</p>
            </article>
        </section>

        <!-- Projectlijst -->
        <section id="project-list">
            <!-- Herhaalbare projectitems -->
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
            <article class="project-item">
                <img src="assets/stock.webp" class="project-thumbnail" alt="...">
                <div class="project-details">
                    <p class="project-title">Title project</p>
                    <p class="project-subtitle">Creator Title</p>
                </div>
            </article>
        </section>
    </main>

    {% render 'partials/foot.liquid' %}