/* MARK: Header */
.main-header {
    width: 100%;
    display: flex;

    @media screen and (min-width: 1020px) {
        position: sticky;
        z-index: 99;
        top: 0;
        background-color: var(--primary-menu-color);
        border-radius: var(--border-radius-menu);
        display: flex;
        align-items: center;
        padding: 0.75rem 5rem;
    }

    /* Contactknop */
    .contact-button {
        display: none;

        @media screen and (min-width: 1020px) {
            display: block;
            font-size: 1rem;
            margin-left: auto;
            background: var(--button-color);
            padding: var(--spacing-small) var(--spacing-medium);
            border: 2px solid var(--button-active);
            color: var(--button-active);
            border-radius: var(--border-radius-button);
            text-decoration: none;
            align-self: anchor-center;

            &:hover {
                color: var(--button-color);
                background-color: var(--button-hover);
                transition: .2s ease-in-out;
            }

            &:active {
                background-color: var(--button-active);
            }
        }
    }

    .menu {
        position: fixed;
        z-index: 99;
        bottom: 0;
        background-color: var(--primary-menu-color);
        border-radius: var(--border-radius-footer);
        width: 100%;
        padding: 0 0.75rem;

        @media screen and (min-width: 1020px) {
            position: unset;
            top: 0;
            bottom: unset;
            background-color: unset;
            padding: 0;
        }

        .menu-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;

            @media screen and (min-width: 720px) {
                justify-content: center;
                gap: 3rem;
            }

            @media screen and (min-width: 1020px) {
                justify-content: end;
                gap: 3.5rem;
            }

            li {
                list-style-type: none;
                display: flex;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1rem;
                    text-decoration: none;
                    color: var(--alt-text-color);
                    transition: 0.2s ease-in-out;

                    @media screen and (min-width: 1020px) {
                        color: var(--alt-text-color);
                    }

                    &:hover {
                        color: var(--primary-highlight-color);
                        transition: 0.2s ease-in-out;
                    }

                    &:active {
                        color: var(--button-active)
                    }

                    picture {
                        @media screen and (min-width: 1020px) {
                            display: none;
                        }
                    }
                }

                &:hover {
                    color: var(--button-hover);
                    background-color: unset;
                }

                &:active {
                    color: var(--button-active)
                }

                @media screen and (max-width: 720px) {
                    .nav-text {
                        display: none;
                    }

                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }
}

/* 
.nav-logo-mobile {
    position: sticky;
    top: 0;
    background-color: var(--primary-menu-color);
    width: 100%;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1rem 1rem;

    @media screen and (min-width: 1020px) {
        display: none;
    }

    img {
        width: 8rem;
        height: auto;
    }
}

.uitbeeld .menu {
    translate: 0 0%;
} */