/* Body achtergrond */
body {
    background-color: var(--primary-background-color);
}

/* section */
.intro-section {
    display: flex;
    margin: 0;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .stripe-background {
        background-image: repeating-linear-gradient(to right,
                var(--primary-background-color) 0px,
                var(--primary-background-color) 15px,
                var(--button-active) 15px,
                var(--button-active) 30px);
        padding: 4rem 5.5rem;
        margin: 0rem;

        display: flex;
        justify-content: center;
        align-items: center;
        /* border-bottom: 2px solid var(--button-hover); */
        /* border-right: 3px solid var(--button-hover); */
        /* border: 3px solid var(--button-hover); */

        @media screen and (min-width: 720px) {
            margin: 0rem 2rem 0rem 0rem;
        }

        @media screen and (min-width: 1020px) {
            flex-wrap: nowrap;
        }
    }

    /* picture img */
    .home-main-image {
        width: 250px;
        height: auto;
        border-radius: var(--border-radius);
        /* border: 3px solid var(--secondary-text-color); */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);

        @media screen and (min-width: 720px) {
            width: 400px;
            height: auto;
        }
    }

    /* div */
    .intro-content {
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 3rem;

        /* h1 */
        .main-title {
            font-family: var(--heading-font);
            font-size: 2rem;
            font-weight: bold;
            color: var(--secondary-text-color);
            margin: 1rem;
            line-height: 1.5;

            @media screen and (min-width: 720px) {
                font-size: 3rem;
            }
        }

        /* p */
        .about-us-text {
            font-size: 1rem;
            color: var(--secondary-text-color);
            margin-bottom: 2.5rem;
            padding: 0 1rem;
            line-height: 1.9rem;
        }

        /* a */
        .read-more-button {
            color: var(--button-active);
            background-color: var(--button-color);
            border: 2px solid var(--button-active);
            padding: 1rem;
            border-radius: var(--border-radius-button);
            text-decoration: none;
            margin-top: 1rem;
            align-self: anchor-center;

            &:hover {
                color: var(--button-color);
                background-color: var(--button-hover);
                transition: .2s ease-in-out;
                border: none;
            }

            &:active {
                background-color: var(--button-active);
            }
        }
    }
}

/* section */
.card-section {
    background: var(--secondary-background-color);

    /* h2 */
    h2 {
        background-color: var(--light-background-color);
        padding: 0.75rem;
        margin: 0;
        font-size: var(--font-size-small);
        font-weight: 600;
        color: var(--secondary-text-color);
        text-align: center;
    }
}

/* div */
.subject-cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    gap: 1rem;

    @media screen and (min-width: 720px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 1.5rem;
    }

    @media screen and (min-width: 1020px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 2rem;
        gap: 2rem;
    }
}

/* article */
.subject-card-layout {
    background-color: var(--primary-background-color);
    padding: 1rem;
    border-radius: var(--border-radius);

    /* h3 */
    h3 {
        color: var(--third-text-color);
        font-family: var(--heading-font);
        font-size: var(--font-size-medium);

        @media screen and (min-width: 720px) {
            font-size: var(--font-size-large);
        }
    }

    /* p */
    p {
        color: var(--third-text-color);
        line-height: 1.7rem;
    }
}