/* Infinite scroll bovenaan */
.logo-scroll {
    overflow: hidden;
    background-color: var(--color-primary);
    padding: 1rem 0;
    width: 100%;
    font-family: var(--site-font);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);

    /* Styling in scroll */
    .logo-track {
        display: flex;
        gap: 4rem;
        animation: scrollLeft 20s linear infinite;
        width: max-content;
        color: var(--color-accent);
        letter-spacing: 0.3rem;

        @media (min-width: 720px) {
            gap: 5rem;
            animation: scrollLeft 25s linear infinite;
        }

        @media (min-width: 1020px) {
            gap: 7rem;
            animation: scrollLeft 30s linear infinite;
        }
    }
}

/* Intro section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--color-primary-background);
    overflow: visible;
    margin: 0;
    overflow-x: clip;

    @media screen and (min-width: 1020px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        min-height: fit-content;
    }

    /* Sectie met menu, tekst en H1 */
    .hero-left {
        position: relative;
        margin: 0.5rem;
        z-index: 1;
        padding: 0.5rem;
        align-items: center;

        @media screen and (min-width: 1020px) {
            display: flex;
            flex-direction: column;
            margin: 1rem 4rem;
            align-items: center;
            width: 80%;
            max-width: 600px;
        }
    }
}

/* Header nav */
.header {
    display: none;

    @media screen and (min-width: 1020px) {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem 0;
    }

    /* Nav layout */
    nav {
        background-color: var(--color-surface);
        padding: 1rem 2rem;
        border-radius: 15px;
        width: 100%;
        margin: 0 auto;
        /* overflow-x: auto;
        scrollbar-width: thin;
        -webkit-overflow-scrolling: touch; */
    }

    /* Nav lijst stijl */
    ul.nav {
        display: flex;
        gap: 2rem;
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: max-content;
    }

    /* Nav linkjes */
    ul.nav li a {
        white-space: nowrap;
        color: var(--color-secondary);
        text-decoration: none;
        font-family: var(--site-font);
        font-weight: var(--font-weight-medium);
        padding: 0.3rem 0;
        display: block;
    }
}

/* Intro text span en H1 */
.hero-text {
    @media screen and (min-width: 1020px) {
        margin: 3rem 1rem;
    }

    h1 {
        letter-spacing: 0.07em;
        display: flex;
        flex-wrap: nowrap;
        user-select: none;
        justify-content: center;
        align-items: center;
        margin: 2rem auto 0rem;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
        font-family: var(--heading-font);
    }

    h1 span {
        display: inline-block;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
        font-family: var(--heading-font);
        opacity: 0;
        transform-origin: center bottom;
        cursor: default;
    }

    /* Pijl omlaag (mobile) */
    .arrow-down {
        display: none;
    }

    @media screen and (min-width: 1020px) {
        .arrow-down {
            display: block;
            text-align: center;
            font-size: var(--font-size-large);
            color: var(--color-text-light);
            opacity: 0;
            animation: fadeInScroll 1s ease forwards, pulseDown 1.5s infinite;
            animation-delay: 3s, 3.5s;
            margin-top: 1.5rem;
            user-select: none;
            text-decoration: none;
            transition: color 0.3s;
        }
    }
}

/* Span intro text + animatie */
.fade-in {
    display: block;
    line-height: var(--line-height-normal);
    margin: 1rem auto 3rem;
    max-width: 500px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: var(--color-text-light);
    font-family: var(--site-font);
    font-weight: var(--font-weight-regular);
    opacity: 0;
    width: 80%;
    transform: translateY(20px);
    animation: fadeIn 2s ease forwards;
    animation-delay: 1.5s;

    @media screen and (min-width: 1020px) {
        max-width: 480px;
        line-height: var(--line-height-large);
    }
}

/* Sectie met photo stack */
.hero-right {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    overflow: visible;

    @media (min-width: 720px) {
        max-width: 600px;
    }

    @media (min-width: 1020px) {
        max-width: 800px;
        margin: 2rem 2rem 2rem 0;
    }
}

/* Photo stack stapel layout */
.photo-stack {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: clamp(240px, 45vw, 500px);
    margin: 0 auto;
    overflow: visible;
    padding-inline: 1rem;
    box-sizing: border-box;
    margin: 1rem;
}

/* Photo layout */
.photo-1,
.photo-2,
.photo-3,
.photo-4,
.photo-5,
.photo-6,
.photo-7 {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform-origin: center center;
    transform-style: preserve-3d;
    transition: none;
    border-width: 4px;
    border-style: solid;
    width: clamp(240px, 35vw, 320px);
    height: clamp(300px, 40vw, 380px);
}

/* Photo 1 */
.photo-1 {
    border-color: var(--card-color-1);
    z-index: 1;
    transform: translate(-52%, -50%) rotate(5deg);
    box-shadow: var(--box-shadow);
}

/* Photo 2 */
.photo-2 {
    border-color: var(--card-color-1);
    z-index: 2;
    transform: translate(-48%, -50%) rotate(-4deg);
    box-shadow: var(--box-shadow);
}

/* Photo 3 */
.photo-3 {
    border-color: var(--card-color-1);
    z-index: 3;
    transform: translate(-47%, -49%) rotate(5deg);
    box-shadow: var(--box-shadow);
}

/* Photo 4 */
.photo-4 {
    border-color: var(--card-color-1);
    z-index: 4;
    transform: translate(-53%, -49%) rotate(-6deg);
    box-shadow: var(--box-shadow);
}

/* Photo 5 */
.photo-5 {
    border-color: var(--card-color-1);
    z-index: 5;
    transform: translate(-50%, -48%) rotate(4deg);
    box-shadow: var(--box-shadow);
}

/* Photo 6 */
.photo-6 {
    border-color: var(--card-color-1);
    z-index: 6;
    transform: translate(-49%, -51%) rotate(-5deg);
    box-shadow: var(--box-shadow);
}

/* Photo 7 */
.photo-7 {
    border-color: var(--card-color-1);
    z-index: 7;
    transform: translate(-51%, -50%) rotate(3deg);
    box-shadow: var(--box-shadow);
}


/* img in photo */
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: var(--box-shadow);
}

/* Golf svg onderaan sectie */
.hero-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 2;
    transform: rotate(180deg);
    transform-origin: center bottom;
}

.main-content {
    display: grid;
    gap: 2rem;
    top: 7rem;
    position: relative;
    justify-content: center;
    justify-items: center;
    margin: 2rem;

    @media (min-width: 1020px) {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        top: 8rem;
        position: relative;
        justify-content: center;
        justify-items: center;
        margin: 2rem;
    }
}

.tile-1,
.tile-2,
.tile-3,
.tile-4 {
    background-color: var(--color-surface);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    height: 350px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 1020px) {
        padding: 2rem;
        width: 100%;
        max-width: 500px;
        height: 450px;
    }

    h2 {
        font-family: var(--heading-font);
        color: var(--color-text-dark);
        font-weight: 300;
    }

    span {
        font-family: var(--site-font);
        color: var(--color-text-dark);
    }
}