* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus-visible {
    outline: none;
    box-shadow: 0px 10px 20px 0px var(--box-shadow);
}

body {
    margin: 0;
    padding: 0;

    /* MARK: Typografie */
    --heading-font: "Petit Formal Script", cursive;
    --site-font: 'Roboto', sans-serif;

    /* MARK: Font sizes */
    --font-size-huge: clamp(1.75rem, 3vw + 0.5rem, 2.5rem);
    /* ~28–40px */
    --font-size-large: clamp(1.5rem, 2.5vw + 0.25rem, 2rem);
    /* ~24–32px */
    --font-size-medium: clamp(1.25rem, 2vw + 0.25rem, 1.75rem);
    /* ~20–28px */
    --font-size-normal: clamp(1rem, 1.5vw + 0.25rem, 1.25rem);
    /* ~16–20px */
    --font-size-small: clamp(1rem, 1vw + 0.25rem, 1.125rem);
    /* ~16–18px */
    --font-size-xsmall: clamp(1rem, 0.75vw + 0.25rem, 1rem);
    /* ~16px vast */
    --font-size-menu: var(--font-size-normal);

    /* MARK: Line heights */
    --line-height-huge: 1.2;
    --line-height-large: 1.4;
    --line-height-medium: 1.6;
    --line-height-normal: 1.8;
    --line-height-small: 1.4;

    /* MARK: Spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-huge: 3rem;

    /* MARK: Achtergrondkleuren */
    --primary-background-color: #ffffff;
    /* helder wit voor hoofdachtergrond */
    --secondary-background-color: #eeeeee;
    /* lichtgrijs voor subtiele secties */
    --light-background-color: #ffe8f0;
    /* zacht roze vlak voor nuance */

    /* MARK: Navigatie/menu kleur */
    --primary-menu-color: #ff6ca5;
    /* intens fuchsia roze – opvallend en stijlvol */

    /* MARK: Tekstkleuren */
    --primary-text-color: #000000;
    /* strak zwart voor optimale leesbaarheid */
    --secondary-text-color: #222222;
    /* iets lichter zwart voor subtiele hiërarchie */
    --third-text-color: #5c1a3b;
    /* diepe wijnroze voor typografie-accenten */
    --alt-text-color: #ffffff;
    /* wit voor tekst op gekleurde achtergronden */

    /* MARK: Accent / highlight */
    --primary-highlight-color: #e93275;
    /* krachtige neon-magenta roze */

    /* MARK: Knoppen */
    --button-color: #ffe8f0;
    /* verzadigde roze knopkleur */
    --button-hover: #ff91bd;
    /* dieproze hoverkleur */
    --button-active: #ff2977;
    /* donkere fuchsia voor actieve status */


    /* MARK: Hoeken */
    --border-radius: 5px;
    --border-radius-button: 50px;
    --border-radius-menu: 0rem 0rem 0.75rem 0.75rem;
    --border-radius-footer: 0.75rem 0.75rem 0rem 0rem;
}

/* MARK: 404 */
.h1404 {
    font-size: var(--font-size-large);
    justify-self: center;
    padding-left: 5%;
}

.h2404 {
    font-size: var(--font-size-medium);
    justify-self: center;
    padding-left: 5%;
}

.p404 {
    font-size: var(--font-size-small);
    justify-self: center;
    padding-left: 5%;
}