/* =============================================
   Basis CSS
   ============================================= */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus-visible {
    outline: none;
    box-shadow: 0px 10px 20px 0px var(--box-shadow);
}

body {
    font-family: var(--site-font);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
}


/* =============================================
   CSS-variabelen
   ============================================= */

body {
    /* Typografie

    /* Lettertypefamilies */
    --heading-font: "Fleur De Leah", cursive;
    /* Voor titels */
    --site-font: 'Roboto', sans-serif;
    /* Voor lopende tekst */



    /* Basis Fontgroottes (mobiel standaard) */
    --font-size-huge: 2.5rem;
    /* Voor grote titels */
    --font-size-large: 2rem;
    /* Voor sectie-titels */
    --font-size-medium: 1.5rem;
    /* Voor subtitels */
    --font-size-normal: 1rem;
    /* Voor paragrafen */
    --font-size-small: 0.875rem;
    /* Voor kleinere tekst */
    --font-size-xsmall: 0.780rem;
    /* Voor buttons */
    --font-size-menu: var(--font-size-normal);
    /* Voor navigatie */

    /* Fontgroottes (tablet) */
    --font-size-huge-tablet: 3rem;
    --font-size-large-tablet: 2.5rem;
    --font-size-medium-tablet: 1.8rem;
    --font-size-normal-tablet: 1.1rem;
    --font-size-small-tablet: 0.9rem;

    /* Fontgroottes (desktop) */
    --font-size-huge-desktop: 4rem;
    --font-size-large-desktop: 3rem;
    --font-size-medium-desktop: 2rem;
    --font-size-normal-desktop: 1.2rem;
    --font-size-small-desktop: 1rem;

    /* Lijnhoogtes */
    --line-height-huge: 1.2;
    --line-height-large: 1.4;
    --line-height-medium: 1.6;
    --line-height-normal: 1.8;
    --line-height-small: 1.4;

    /* Responsive marges (optioneel, voor consistentie) */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-huge: 3rem;









    /* MARK: Kleuren */
    --primary-background-color: #FAF4E6;
    --secondary-background-color: #A95B35;
    --light-background-color: #E49F7E;

    --primary-menu-color: #7C7719;

    /* Tekst */
    --primary-text-color: #5A7FBE;
    --secondary-text-color: #A95B35;
    --third-text-color: #7C7719;
    --alt-text-color: #FAF4E6;

    --primary-highlight-color: #c3c2ac;


    /* Knoppen */
    --button-color: #D9E8FF;
    --button-hover: #5E86CB;
    --button-active: #90B9FF;














    /* Hoeken */
    --border-radius: 5px;
    --border-radius-button: 50px;
    --border-radius-menu: 0rem 0rem 0.75rem 0.75rem;
    --border-radius-footer: 0.75rem 0.75rem 0rem 0rem;
}

/*      MARK: 404     */
.h1404 {
    font-size: var(--font-size-6xl);
    justify-self: center;
    padding-left: 5%;
}

.h2404 {
    font-size: var(--font-size-6xl);
    justify-self: center;
    padding-left: 5%;
}

.p404 {
    font-size: var(--font-size-lg);
    justify-self: center;
    padding-left: 5%;
}