/* =============================================
   Basis CSS
   ============================================= */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus-visible {
    outline: none;
    box-shadow: 0px 10px 20px 0px var(--box-shadow);
}

body {
    margin: 0;
    padding: 0;
}


/* =============================================
   CSS-variabelen
   ============================================= */

body {
    /* Typografie

    /* Lettertypefamilies */
    --heading-font: "Petit Formal Script", cursive;
    --site-font: 'Roboto', sans-serif;

    /* Font sizes */
    --font-size-huge: clamp(1.75rem, 3vw + 0.5rem, 2.5rem);
    /* ~28–40px */
    --font-size-large: clamp(1.5rem, 2.5vw + 0.25rem, 2rem);
    /* ~24–32px */
    --font-size-medium: clamp(1.25rem, 2vw + 0.25rem, 1.75rem);
    /* ~20–28px */
    --font-size-normal: clamp(1rem, 1.5vw + 0.25rem, 1.25rem);
    /* ~16–20px */
    --font-size-small: clamp(1rem, 1vw + 0.25rem, 1.125rem);
    /* ~16–18px */
    --font-size-xsmall: clamp(1rem, 0.75vw + 0.25rem, 1rem);
    /* ~16px vast */
    --font-size-menu: var(--font-size-normal);

    /* Line heights */
    --line-height-huge: 1.2;
    --line-height-large: 1.4;
    --line-height-medium: 1.6;
    --line-height-normal: 1.8;
    --line-height-small: 1.4;

    /* Spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-huge: 3rem;

    /* MARK: Kleuren */
    --primary-background-color: #fefaf2;
    --secondary-background-color: #A95B35;
    --light-background-color: #E49F7E;

    --primary-menu-color: #7C7719;

    /* Tekst */
    --primary-text-color: #5A7FBE;
    --secondary-text-color: #A95B35;
    --third-text-color: #7C7719;
    --alt-text-color: #fefaf2;

    --primary-highlight-color: #c3c2ac;


    /* Knoppen */
    --button-color: #D9E8FF;
    --button-hover: #5E86CB;
    --button-active: #90B9FF;














    /* Hoeken */
    --border-radius: 5px;
    --border-radius-button: 50px;
    --border-radius-menu: 0rem 0rem 0.75rem 0.75rem;
    --border-radius-footer: 0.75rem 0.75rem 0rem 0rem;
}

/*      MARK: 404     */
.h1404 {
    font-size: var(--font-size-6xl);
    justify-self: center;
    padding-left: 5%;
}

.h2404 {
    font-size: var(--font-size-6xl);
    justify-self: center;
    padding-left: 5%;
}

.p404 {
    font-size: var(--font-size-lg);
    justify-self: center;
    padding-left: 5%;
}