/* Algemene paginastijl */
body {
    background: linear-gradient(180deg, #C36D96 5%, #d37aa551 25%, #12121238 30%, #121212 40%);
    background-color: var(--primary-background-color);
}

/* Header styling */
#projects-header {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
    margin: 15px;

    .back-button {
        background: transparent;
        border: none;
        color: #FFFFFF;
        font-size: 24px;
        cursor: pointer;
    }

    img {
        width: 10px;
    }

    /* Grote afbeelding */
    .large-photo {
        padding-top: -10px;
        width: 250px;
        height: auto;
    }
}

section {
    h1 {
        padding-top: 15px;
        font-size: var(--font-size-normal);
        font-weight: 800;
        margin: 15px;
        font-size: var(--font-size-medium);
    }

    .profile-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .profile-image {
            width: 40px;
            height: auto;
            cursor: pointer;
            margin-left: 15px;
        }

        .sub-title {
            font-size: var(--font-size-small);
            font-weight: 100;
            opacity: 70%;
            margin-left: 15px;
        }
    }
}
/* Projectlijst */
#project-list {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    overflow-y: auto;

    .project-item {
        display: flex;
        align-items: center;
        padding-top: 5px;

        .project-thumbnail {
            width: 50px;
            height: 50px;
            background: #ffffff1a;
            margin-right: 16px;
        }

        .project-details {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .project-title {
                font-size: var(--font-size-normal);
                font-weight: 600;
            }

            .project-subtitle {
                font-size: var(--font-size-small);
                color: #BBBBBB;
                margin-top: -10px;
            }
        }
    }
}
