/* Algemene paginastijl */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* background: linear-gradient(180deg, rgb(16, 16, 66) 0%, rgba(18, 18, 18, 1) 72%); */
    color: #FFFFFF;
    background-color: var(--primary-background-color);
}

/* Header styling */
.projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

h1 {
    font-size: var(--font-size-normal);
    font-weight: 800;
    margin: 2px;
}

.back-button {
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
}

.projects-title {
    font-size: var(--font-size-large);
    font-weight: 600;
    margin: 0;
}

.add-button {
    width: 50px;
    height: 50px;
    background: #4CAF50;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* Grote afbeelding */
.project-large {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
}

.large-placeholder {
    width: 300px;
    height: 300px;
    background: #FFFFFF;
}

/* Projectlijst */
.project-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 16px;
    overflow-y: auto;
}

.project-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.project-thumbnail {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    margin-right: 16px;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.project-subtitle {
    font-size: 14px;
    color: #BBBBBB;
    margin: 4px 0 0;
}

