body {
    font-family: var(--site-font);
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
}

/* header algemene styling */
header {
    padding: var(--spacing-medium);
    background: var(--primary-background-color);
}

/* bovenste buttons */
.profile-buttons {
    display: flex;
    justify-content: wrap;
    padding-bottom: var(--spacing-small);
}

/* foto bovenaan */
.profile-picture {
    width: 40px;
}

/* contact knop */
.contact-button {
    margin-left: auto;
    background: transparent;
    border: 2px solid var(--button-active);
    padding: var(--spacing-small) var(--spacing-medium);
    color: var(--primary-text-color);
    border-radius: var(--border-radius);
}

/* scroll nav knoppen */
.horizontal-scroll-nav {
    display: flex;
    overflow-x: auto;
    gap: var(--spacing-medium);
    padding: var(--spacing-small);
    scroll-behavior: smooth;
}

/* nav knoppen styling */
.nav-button {
    font-size: var(--font-size-small);
    background: var(--button-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: var(--border-radius-button);
    padding: var(--spacing-small) var(--spacing-medium);
    font-family: var(--button-font);
    text-decoration: none;
}

/* nav buttons op hover/active */
.nav-button:hover {
    background-color: var(--button-hover);
}

/* 8 balken bovenaan */
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-medium);
    padding: var(--spacing-medium);
}

/* 8 balken layout */
.project-card-head {
    background: var(--button-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-medium);
    color: var(--primary-text-color);
    text-align: center;
}

/* titels boven vlakken */
h2 {
    padding: var(--spacing-medium)
}

/* vlakken van projecten etc */
.projects-scroll {
    display: flex;
    overflow-x: auto;
    gap: var(--spacing-medium);
    padding: var(--spacing-small);
    scroll-behavior: smooth;
}

/* vlakken van projecten layout */
.project-card {
    background: var(--button-color);
    padding: var(--spacing-large);
    color: var(--primary-text-color);
    text-align: center;
}

/* footer nav styling */
footer.bottom-nav {
    display: flex;
    justify-content: space-around;
    background: var(--button-color);
    padding: var(--spacing-small);
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* footer nav icoontjes */
.nav-icon {
    background: transparent;
    border: none;
    color: var(--primary-text-color);
    font-size: var(--font-size-large);
}